/* ==========================================================================
   THEME — That AI Guy Badges
   ==========================================================================
   1. Circle Badges
   2. Squishy Badges
   ========================================================================== */


/* ==========================================================================
   1. Circle Badges
   ========================================================================== */

.badges.grid-4x4 {
  margin: 3rem;
}

.badges dl {
  clip-path: circle(50% at 50% 50%); /* Shape #1 */
  position: relative;
  transition: scale 0.25s;
  cursor: grabbing;
  min-width: 140px;
}

.badges dl:active,
.badges dl:focus {
  /* Squishy spring easing from https://linear-easing-generator.netlify.app/ */
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%); /* Shape #2 */
  transition: 1s linear(0, 0.024, 0.068 1%, 0.22 2.2%, 0.968 6.1%, 1.221 7.7%, 1.314, 1.383, 1.426 10%, 1.438, 1.445, 1.447, 1.445 11.4%, 1.432, 1.405, 1.365 13.4%, 1.272 14.6%, 1.004 17.7%, 0.892 19.3%, 0.855, 0.828, 0.811, 0.802, 0.802, 0.808, 0.819, 0.837 24.8%, 0.879 26.1%, 0.998 29.1%, 1.048 30.8%, 1.076 32.2%, 1.084, 1.088 33.6%, 1.086, 1.077, 1.059 37.2%, 1.006 40.3%, 0.984 41.7%, 0.968 43.4%, 0.963, 0.961 45%, 0.962, 0.966 47.3%, 1.007 53.2%, 1.014, 1.017 56.4%, 1.015 58.8%, 0.997 64.6%, 0.992 67.8%, 0.993 70.2%, 1.001 75.9%, 1.003 78.9%, 0.999 90.2%, 1);
}

.badges dl dt,
.badges dl dd {
  transition: inherit;
}

.badges dt {
  align-items: center;
  aspect-ratio: 1 / 1;
  border: 2px solid var(--color-text);
  border-radius: 50%;
  display: flex;
  /* MOBILE: 20px (2rem) -> 36px (3.6rem) between 450px and 768px */
  /* clamp(MIN, OFFSET + SLOPE, MAX) */
  font-size: clamp(2rem, -0.26rem + 5.03vw, 3rem);
  justify-content: center;
  padding: 10px;
  white-space: nowrap;
}

/* DESKTOP: 16px (1.6rem) -> 36px (3.6rem) between 768px and 1224px */
@media (min-width >= 76.8rem) { 
  .badges dt { 
    /* clamp(MIN, OFFSET + SLOPE, MAX) */
    font-size: clamp(1.6rem, -1.77rem + 3.9vw, 3rem);
  }
}


.badges dd {
  align-items: center;
  aspect-ratio: 1 / 1;
  background-color: var(--color-tg);
  border: 3px solid var(--color-border);
  border-radius: 50%;
  color: var(--color-text);
  display: none;
  font-size: var(--font-size-l);
  height: 100%;
  height: stretch;
  justify-content: center;
  line-height: 1.5;
  padding: 10px;
  position: absolute;
  top: 0;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
}

/* Active states */
.badges dl:active dt,
.badges dl:focus dt {
  overflow: hidden;
  text-indent: -999em;
  visibility: hidden;
}

.badges dl:active dd,
.badges dl:focus dd {
  display: flex;
  scale: 1.45;
  flex-direction: column;
}

.badges dl:active dd:after,
.badges dl:focus dd:after {
  content: "🗯️";
  display: inline-block;
  font-size: 3rem;
  padding-bottom: 1rem;
  margin-top: 0;
}
.badges dl:nth-child(1):active dd:after,
.badges dl:nth-child(1):focus dd:after {
  content: "💬";
}
.badges dl:nth-child(2):active dd:after,
.badges dl:nth-child(2):focus dd:after {
  content: "👁️‍🗨️";
}
.badges dl:nth-child(3):active dd:after,
.badges dl:nth-child(3):focus dd:after {
  content: "💭";
}
